<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <p>メロディ選択※自作以外のテイチク音源⇨<a href="https://youtu.be/0W4gbZSbaJU">harmony Sakura*
さんのテイチク再現音源</a>より
    <br>
      <select id="melo_select">
        <!-- <option value="https://youk720.github.io/melo_work/melo/summer%20night_v1.mp3">summer night V1(自作版)</option> -->
        <option value="https://youk720.github.io/melo_work/melo/summer%20night%20v1_Ab.mp3">summer night V1(自作) Ab</option>
        <option value="https://youk720.github.io/melo_work/melo/summer%20night%20v1_A.mp3">summer night V1(自作) A</option>
        <option value="https://youk720.github.io/melo_work/melo/ムーンリバー_ショート.mp3">ムーンリバー_ショート</option>
        <option value="https://youk720.github.io/melo_work/melo/Sunrise.mp3">Sunrise(実録)</option>
        <option value="https://youk720.github.io/melo_work/melo/We Love Marines_1.mp3">We Love Marines</option>
        <option value="https://youk720.github.io/melo_work/melo/JR-SH3-1.mp3">JR-SH3-1</option>
        <option value="https://youk720.github.io/melo_work/melo/熊谷市歌_verA(実録).mp3">熊谷市歌A(実録)</option>
        <option value="https://youk720.github.io/melo_work/melo/おねぎのマーチ.mp3">深谷</option>
        <option value="https://youk720.github.io/melo_work/melo/すみれの花咲く頃.mp3">すみれの花咲く頃</option>
        <option value="https://youk720.github.io/melo_work/melo/すみれの花咲く頃_long.mp3">すみれの花咲く頃_long</option>
        <option value="https://youk720.github.io/melo_work/melo/すみれの花咲く頃_矢板ショートver.mp3">すみれの花咲く頃_矢板ショートver</option>
        <option value="https://youk720.github.io/melo_work/melo/すみれの花咲く頃_矢板ver.mp3">すみれの花咲く頃_矢板ver</option>
        <option value="https://youk720.github.io/melo_work/melo/牧場の朝ショート.mp3">牧場の朝ショート</option>
        <!-- <option value="https://youk720.github.io/melo_work/melo/"></option> -->
        <option value="./melo/cappuccino.mp3">cappuccino</option>
        <option value="./melo/dance on.mp3">dance on</option>
        <option value="./melo/farawell.mp3">farawell</option>
        <option value="./melo/Summer night V1.mp3">Summer night V1</option>
        <option value="./melo/Summer night V2.mp3">Summer night V2</option>
        <option value="./melo/あざみ野V1.mp3">あざみ野V1</option>
        <option value="./melo/あざみ野V2.mp3">あざみ野V2</option>
        <option value="./melo/くるみ遊び.mp3">くるみ遊び</option>
        <option value="./melo/すすきの高原V1.mp3">すすきの高原V1</option>
        <option value="./melo/すすきの高原V2.mp3">すすきの高原V2</option>
        <option value="./melo/ベルの響き.mp3">ベルの響き</option>
        <option value="./melo/ホリディV1.mp3">ホリディV1</option>
        <option value="./melo/ホリディV2.mp3">ホリディV2</option>
        <option value="./melo/遠い青空V1.mp3">遠い青空V1</option>
        <option value="./melo/遠い青空V2.mp3">遠い青空V2</option>
        <option value="./melo/夏色の時間.mp3">夏色の時間</option>
        <option value="./melo/花のほころびV1.mp3">花のほころびV1</option>
        <option value="./melo/花のほころびV2.mp3">花のほころびV2</option>
        <option value="./melo/海岸通りV1.mp3">海岸通りV1</option>
        <option value="./melo/海岸通りV2.mp3">海岸通りV2</option>
        <option value="./melo/九月の風V1.mp3">九月の風V1</option>
        <option value="./melo/九月の風V2.mp3">九月の風V2</option>
        <option value="./melo/古いオルゴール.mp3">古いオルゴール</option>
        <option value="./melo/公園の楓.mp3">公園の楓</option>
        <option value="./melo/公園通り.mp3">公園通り</option>
        <option value="./melo/秋桜V1.mp3">秋桜V1</option>
        <option value="./melo/秋桜V2.mp3">秋桜V2</option>
        <option value="./melo/春待ち風V1.mp3">春待ち風V1</option>
        <option value="./melo/春待ち風V2.mp3">春待ち風V</option>
        <option value="./melo/小川のせせらぎV1.mp3">小川のせせらぎV1</option>
        <option value="./melo/小川のせせらぎV2.mp3">小川のせせらぎV2</option>
        <option value="./melo/新たな季節.mp3">新たな季節</option>
        <option value="./melo/雪解け間近V1.mp3">雪解け間近V1</option>
        <option value="./melo/雪解け間近V2.mp3">雪解け間近V2</option>
        <option value="./melo/線路の彼方.mp3">線路の彼方</option>
        <option value="./melo/風と共にV1.mp3">風と共にV1</option>
        <option value="./melo/風と共にV2.mp3">風と共にV2</option>
        <option value="./melo/木々の目覚めV1.mp3">木々の目覚めV1</option>
        <option value="./melo/木々の目覚めV2.mp3">木々の目覚めV2</option>
        <option value="./melo/夏色の時間 _A.mp3">夏色の時間(A自作)</option>
        <option value="./melo/夏色の時間 _G.mp3">夏色の時間(G自作)</option>
        <option value="./melo/Twinkle Twinkle_v1_nonrilz.mp3">Twinkle Twinkle V1</option>
        <option value="./melo/Twinkle Twinkle_v2_nonrilz.mp3">Twinkle Twinkle V2</option>
    </select></p>
    <p>戸閉音源 <a href="http://text-to-speech.imtranslator.net/speech.asp?dir=ja">※自動音声の使用元</a><br>
    <select id="bansen">
      <option value="./sound/1bansen.mp3">1番線</option>
      <option value="./sound/2bansen.mp3">2番線</option>
      <option value="./sound/3bansen.mp3">3番線</option>
      <option value="./sound/4bansen.mp3">4番線</option>
      <option value="./sound/5bansen.mp3">5番線</option>
      <option value="./sound/6bansen.mp3">6番線</option>
      <option value="./sound/7bansen.mp3">7番線</option>
      <option value="./sound/8bansen.mp3">8番線</option>
      <option value="./sound/9bansen.mp3">9番線</option>
      <option value="./sound/10bansen.mp3">10番線</option>
      <option value="https://youk720.github.io/melo_work/sound/%E3%83%88%E3%82%99%E3%82%A2%E3%81%8B%E3%82%99%E9%96%89%E3%81%BE%E3%82%8A%E3%81%BE%E3%81%99%E6%89%8B%E8%8D%B7%E7%89%A9.mp3">ドアが閉まります手荷物</option>
      <option value="https://youk720.github.io/melo_work/melo/tuda/1_1_1.mp3">tuda1番線</option>
      <option value="https://youk720.github.io/melo_work/melo/tuda/2.mp3">tuda2番線(実録)</option>
      <option value="https://youk720.github.io/melo_work/melo/tuda/3_1.mp3">tuda3番線(実録)</option>
      <option value="https://youk720.github.io/melo_work/melo/tuda/4.mp3">tuda4番線(実録)</option>
      <option value="https://youk720.github.io/melo_work/melo/tuda/4_1.mp3">tuda4番線(CD音源)</option>
      <option value="https://youk720.github.io/melo_work/melo/tuda/5_1.mp3">tuda5番線(実録)</option>
      <option value="https://youk720.github.io/melo_work/melo/saki/1.mp3">saki;1番線</option>
      <option value="https://youk720.github.io/melo_work/melo/saki/1_jvc.mp3">saki;1番線_jvc</option>
      <option value="https://youk720.github.io/melo_work/melo/saki/2_jvc.mp3">saki;2番線_jvc</option>
      <option value="https://youk720.github.io/melo_work/melo/saki/2.mp3">saki;2番線(ユニぺ小丸)</option>
      <option value="https://youk720.github.io/melo_work/melo/saki/2_voss.mp3">saki;2番線(小VOSS)</option>
      <option value="https://youk720.github.io/melo_work/melo/saki/3_1.mp3">saki;3番線</option>
      <option value="https://youk720.github.io/melo_work/melo/saki/4_1.mp3">saki;4番線</option>
    </select>
    <!-- 音源自動選択部分 -->
    <p id="melo_title">メロディ音源手動入力</p>
    <textarea id="melo_input" size='20'></textarea>
    <br>
    <p id="door_title">ドア閉音源手動入力</p>
    <textarea id="door_input" size="20"></textarea>
    <br>
    <button id="custam_sw" style='font-size:10px;' class="btn btn btn-primary text-center"><strong> 決定</strong></button>
    <br>
    <div>
      <div class="sw" style="background:#F2D88C;width:200px;height:300px">

      <p style="background:#ffffff;font-size:30px;position:absolute; top:360px;left:90px;">発車ベル</p>
      <button id="on" style='font-size:50px;width:140px;height:100px;position:absolute; top:415px;left:79px;' class="btn btn-danger btn-lg  text-center"><strong> ON </strong></button>
      <br>
      <button id="off" style='font-size:50px;width:140px;height:100px;position:absolute; top:515px;left:79px' class="btn btn-success btn-lg"><strong>OFF</strong></button>
      </div>

      <form id="sw">
        <!-- 以下,view_index_2.js有効にして実行してください -->
        <!-- <button id="on" style='font-size:38px;' class="btn btn-danger btn-lg  text-center"><strong> ON </strong></button>
        <br>
        <button id="off" style='font-size:30px;' class="btn btn-success btn-lg"><strong>OFF</strong></button> -->

      <!-- 以下,view_index.js有効にして実行してください -->
        <input id="led_1" type="checkbox" name="led_select" value="1">LED_1
        <input id="led_2" type="checkbox" name="led_select" value="2">LED_2
        <input id="led_3" type="checkbox" name="led_select" value="3">LED_FULL
        <br>
        <input type="submit" id="send" class="btn btn-danger btn-lg  text-center btn-lg" value="発 信">
    </form>
      <br>
      <input type="radio" name="sw_mode" value="0" checked>通常
      <input type="radio" name="sw_mode" value="1">立川式
      <input type="radio" name="sw_mode" value="2">ノン被り式
      <br>
      <input type="radio" name="on_mode" value="0" checked>普通
      <input type="radio" name="on_mode" value="1">戸閉放送ストップ
      <br>
      <button id="smoking" class="btn btn-primary" onclick="smoking()">禁煙放送</button>
      <br>
      <div class="text-info"><strong>
      <span>再生時間/メロディ合計時間</span>
      <br>
      <span id="time"></span></strong></div>
      <br>
      <p id="sw_now"></p>

      <button id="smoking" class="btn btn-primary" onclick="smoking()">禁煙放送</button>

      <p id="mv_value" value="">メロディ用ボリューム</p>
      <input type="range" id="melo_volume" style="width:240px;padding:0px 4px" value="50" min="0" max="100">
      <br>
      <p id="dov_value" value="">ドア閉め放送用ボリューム</p>
      <input type="range" id="door_volume" style="width:240px;padding:0px 4px" value="50" min="0" max="100">
      <br>
      <p id="smoking_value" value="">禁煙音源ボリューム</p>
      <input type="range" id="smoking_volume" value="50" min="0" max="100">
    </div>

    <!-- https://digital-marketing.jp/seo/spam-hidden-text/ -->
    <!-- <script type="text/javascript" src="javascripts/view_index.js"></script> -->
    <script type="text/javascript" src="javascripts/view.js"></script>

  </body>
</html>
